<%= render "shared/header"%>

<section class="showcase">
  <div class="showcase-content">
    <h1>Make Friends All Over The World</h1>
    <p>Connect wherever you want</p>
  </div>
</section>

<section class="tabs">
  <div class="container">
    <div id="tab-1" class="tab-item tab-border">
      <%= fa_icon "globe 5x" %>
      <p class="hide-sm">Articles</p>
    </div>
    <div id="tab-2" class="tab-item">
      <%= fa_icon "users 5x" %>
      <p class="hide-sm">Events</p>
    </div>
    <div id="tab-3" class="tab-item">
      <%= fa_icon "globe 5x" %>
      <p class="hide-sm">About</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="container">
    <!-- Tab Content 1 -->
    <div id="tab-1-content" class="tab-content-item show">
      <div class="tab-1-content-inner">
        <div class="latestpost">
          <h2>Articles</h2>
          <ul>
          <% @articles.each do |article| %>
            <li>
              <%= link_to article_path(article.id) do %>
                <%= image_tag article.image %>
                <%= article.title %>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>  








    <!-- Tab Content 2 -->
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
        Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.
        </p>
        <a href="" class="btn btn-lg"></a>
      </div>
    </div>

    <!-- Tab Content 3 -->
    <div id="tab-3-content" class="tab-content-item">
      <div class="text-center">
        <h1 class="text-lg">aaaaa</h1>
        <p class="text-lg">
        Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.Test.
        </p>
        <a href="#" class="btn btn-lg"></a>
      </div>
    </div>
  </div>
</section>

<footer>
</footer>