<%= render "shared/header"%>

<%= image_tag @post.image %>
<%= @post.title %>
<%= @post.category %>
<%= @post.country %>
<%= @post.description %>

<div>
  <%= link_to "Edit Post", edit_post_path(@post) %>
</div>
<div>
  <%= link_to "Delete Post", post_path(@post), method: :delete %>
</div>

